# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node.js
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/
backend/data/stock_prices.csv
backend/data/currency_prices.csv
backend/data/portfolio_stock_prices.csv
backend/data/portfolio_currency_prices.csv
